package ui

import "github.com/ikhwanal/tinyworlds/internal/world"

templ StatsView(s world.WorldSnapshot) {
	<div id="stat" class="bg-gray-800 text-white p-3 rounded-md text-sm space-y-1 w-40"></div>
}
