name: Go CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build-test:
    runs-on: debian-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Set Up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Install Dependecies
        run: go mod tidy

      - name: Run tests with race condition
        run: go test -race -v ./...

      - name: Lint
        run: go install honnef.co/go/tools/cmd/staticcheck@latest && staticcheck ./...
